/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Lato');

 @viewport {  
   orientation: portrait;  
 }  

html {
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 1em;
  line-height: 1.3;
}

a{
  color: white
}

/*not allow user select*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color:#010101;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

table, th, td {
   border: 1px solid black;
   padding:5px;
}

table {
   border-collapse: collapse;
   margin:10px;
}

.bg-img{
  width:100%;
  height: 100%;
}

.bg-img-container{
  width:100%;
  height:auto;
  z-index: -1;
}

.program-note{
  margin-top:-20%;
  padding: 0 30px;
  text-align: left;
  margin-bottom: 20%;
}

h1,
h3 {
  padding:0px;
  margin:0px;
  text-align: center;
}

#visualImg{
    margin: 0px;
    padding: 0px;
    /*width: 100%;*/
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

h4 {
  margin-top:50px
}

#intro{
  margin-top: 40%;
}

#start{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 40%;
  text-align: center;
}

/*#map-message{
  border: white solid 2px;
  position: absolute;
  z-index: 10;
  background-color: whitesmoke;
  color:black;
  text-align: center;
  vertical-align: center;
}*/

/*
#map-message{
  /*border: white solid 2px; */
  position: absolute;
  /*z-index: 10;*/
  color:whitesmoke;
  width: 100%;
  margin-top: -100%;
  text-align: center;

}*/
