/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-family: sans-serif;
  color: #FAFAFB;
}

html,body { height:100%; }

h1{
  text-align: center
}

p {
  font-size: 1.1em;
  line-height: 1.2;
  margin-bottom: 20px;
}

.text{
  font-size: 1.25em;
  margin:20px
}

#narrative-title{
  line-height: 1.2
}

#fragment{
  margin-top:-40%;
  text-align:center; 
  width:100%; 
  color:white;
}

#narrative{
  line-height: 1.3;
  font-size: 1.5em;
   margin-left:5%; 
   margin-right:5%; 
}

.navbar-inverse .navbar-brand{
  color:white;
  font-size: 1.8em;
}

a{
  color: white
}

/*not allow user select*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.bg-img{
  width:100%;
  height: 100%;
}

.bg-img-container{
  width:100%;
  height:100%;
  z-index: -1;
}


h1,
h3 {
  padding:0px;
  margin:0px;
}

#visualImg{
    margin: 0px;
    padding: 0px;
    /*width: 100%;*/
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/*
h4 {
  margin-top:50px
}*/

#intro{
  margin-top: 40%;
}

#start{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 40%;
  text-align: center;
}

.float-button {
  position: fixed;
  display: table;
  bottom: 2%;
  right: 3%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px #666;
  text-align: center;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}


.float-button:hover {
  box-shadow: none;
}

.glyphicon.glyphicon-home{
  line-height: normal;
  margin: 0px;
  font-size: 2em;
  color: black;
}

/*menu.html*/

.top-menu{
  overflow: auto;
  background-color: #1B2836;
  width: 100%;
  height:100%;
}

.btn-menu-right{
    width:50%;    
    float: left;
    padding:0px;
    font-size: 12px;
    text-align: center;    
}

.btn-menu-left{
    width:50%;    
    float: left;
    padding:0px;
    font-size: 12px;
    text-align: center;    
    border-right-width: 0px
}

.list-btn-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottom-btn{
  bottom: 0px;
  position: absolute;
  width: 100%;
}


.menu-container{
  height: 100%;
  width: 100%;
  margin:15px; 
}

.btn.btn-default{
    border-radius: 0px;
    width:100%;
    color: #C4C7CB;
    height:130px;
    border: 1px solid black;
    background-color: #1B2836;
    float: left;
    text-align: center;
}

.btn.btn-default.active,
.btn.btn-default:active{
  color:white;
  background-color:#1D8DEE
}



.glyphicon{
    text-align: center;
    display: block;
    position: relative;
    font-size: 2.25em;
}
.btn-title{
    display: block;
    text-align: center;
    word-wrap: break-word;
    white-space:normal;
    font-size: 1.25em;
    margin-top:5px;
}
.menu-title{
    text-align: center
}

.black-bkg{
 background-color:black;
  position:fixed; 
  width:100%;
  height:100%;
  bottom:0; 
  z-index:-2;
}


.menu-bkg{
 background-color:#1B2836;
  position:fixed; 
  width:100%;
  height:100%;
  bottom:0; 
  z-index:-2;
}


.map-left{
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  color: #f9f9f9;
  left:0px;
  top:5%;
  font-size: 15px;
}

.map-right{
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  color: #f9f9f9;
  right:0px;
  top:5%;
  font-size:15px;
}



.glyphicon.glyphicon-menu-left, .glyphicon.glyphicon-menu-right{
  font-size: 2em;
}

/*.pop-window{
  height:100px;
  width: 50%;
  display: block;
  position: absolute;
  z-index: 100;
  background:white;
}*/

.tool-tip{
 background-color: white;
 position: absolute;
 display: block;
 z-index: 100; 
 border-radius: 6px;
 text-align: center;
 padding: 2px 5px;
 font-size: 20px;
 word-wrap: break-word;
}

.tool-tip::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.glyphicon.glyphicon-asterisk.glyphicon-asterisk-1{
  color:#e74c3c;
  opacity: 0;
  font-size:15px;
  display: block;
  float: right;
  top:-10px;
}

.glyphicon.glyphicon-asterisk.glyphicon-asterisk-2{
  font-size:15px;
  display: block;
  float: left;
  top:-10px;
  opacity: 0
}

.menu-text{
  color:#1D8DEE;
  text-decoration: underline
}

.alert {
  position:fixed;
  top:0px;
  z-index:101; 
  width:100%
}

.map-title{
  color:white;
  position: absolute; 
  top:0px; 
  left:25%; 
  z-index:100;
  width:50%; 
  height:auto;
  text-align:center; 
  margin-top:0%;
  line-height: 1.1;
}

#journey{
  color:white; 
  padding-left:20px;
  padding-right:20px; 
  text-align: center;
}

.map-img{
  position:absolute; 
  z-index:-1; 
  left:0;
  width:100%;
  height:auto
}

.navbar{
  margin-bottom: 0px
}

#preview-map-title{
  position:absolute;
  left:0;
  right:0; 
  margin-top:20px;
  color:white
}

.menu-container{
  margin:0px;
  background: #1B2836;
  color: #C4C7CB
}