/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Pangolin');

html {
  font-family: 'Pangolin', cursive;
}

/*not allow user select*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

table, th, td {
   border: 1px solid black;
   padding:5px;
}
table {
   border-collapse: collapse;
   margin:10px;
}


#visualImg{
    margin: 0px;
    padding: 0px;
    /*width: 100%;*/
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
