<div>
  <button ng-show="!performing && stop" ng-click="stop()">Stop</button>
  <button ng-show='!performing && openCusMap' ng-click='openCusMap()'>My Journey</button>
  <button ng-show='preview' ng-click='back()'>Back</button>
  <!--<button ng-show="!performing" ng-click="startMapTransition()">START</button>-->
  <div id="map" ng-show="!performing">
    <d3-map></d3-map>
  </div>
  <div ng-show="performing">
    <img id="visualImg" src="#" alt="visual image">
    <!--<h3>now: {{csname}} </h3>-->
  </div>