<div class="menu-container">
    <nav class='navbar navbar-inverse bg-inverse'><span class="navbar-brand">Climb!</span></nav>
    <div class="top-menu">
        <!--<h5><a href="#!preview">Preview</a></h5>-->

        <!--<ul class="menu">
        <div><a href="#!preview">Preview</a></div>
        <div><a href="#!map">Start</a></div>
        <div><a href="#!cus-map">Your Map</a></div>
    </ul>-->
        <!--<div class="menu-title"><h2>Climb!</h2></div>-->
    <div ng-if="showStudyAlert" class="alert alert-warning alert-dismissible">
      <button type="button" class="close" ng-click="hideStudyAlert()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      This app collects <b>anonymous</b> data about how it is used; see <em ng-click='openContent("Research")'>Research Study</em> (below) for more information.
    </div>

        <ul class="list-btn-menu">
            <div class='bg-img-container'>
                <!--<img class='bk-img' src='Climb_App_Map_background.jpg' alt='Map' width='100%' height='auto' />-->
            </div>

            <li class="btn-menu-left">
                <button type="button" class="btn btn-default" aria-label="Programme Note" ng-click='openContent("Programme Note")'>
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        <span class="btn-title" >Programme note</span>
    </button>
            </li>

            <li class="btn-menu-right">
                <button type="button" class="btn btn-default" aria-label="Performer" ng-click='openContent("Performers")'>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
         <span class="btn-title">Performers</span>
    </button>
            </li>

            <li class="btn-menu-left">
                <button type="button" class="btn btn-default" aria-label="Map" ng-click='openContent("Map")'>
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
         <span class="btn-title">Map Composition</span>
    </button>
            </li>

            <li class="btn-menu-right">
                <button type="button" class="btn btn-default" aria-label="What can see and hear" ng-click='openContent("What can see and hear")'>
        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
         <span class="btn-title">What you can see and hear</span> 
    </button>
            </li>
            <li class="btn-menu-left">
                <button type="button" class="btn btn-default" aria-label="How it works" ng-click='openContent("How it works")'>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
         <span class="btn-title">How it works</span> 
    </button>
            </li>
            <li class="btn-menu-right">
                <button type="button" class="btn btn-default" aria-label="Performer" ng-click='openContent("Archive")' ng-disabled="performing"
                    ng-style='{color:archiveHighlight ? "white": "#C4C7CB", "background-color":archiveHighlight?"#1D8DEE": "#1B2836","opacity":performing?0:1}'>
                    <!--<div ng-show='archiveHighlight'>
                <span class="glyphicon glyphicon-asterisk glyphicon-asterisk-1"></span>
                <span class="glyphicon glyphicon-asterisk glyphicon-asterisk-2"></span>
                    </div>-->
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
         <span class="btn-title">Archive</span> 
         
    </button>
            </li>
            <div class="bottom-btn">
                <li class="btn-menu-left" >
                    <button type="button" class="btn btn-default" aria-label="Performer" ng-click="openPerformance()" ng-style='{color:performing ? "white": "#C4C7CB", "background-color":performing?"#1D8DEE": "#1B2836"}'>

<!--ng-style='{color:performing ? "white": "#C4C7CB", "background-color":performing?"#1D8DEE": "#1B2836"}'-->


                    <!--<div ng-show='performing'>
                <span class="glyphicon glyphicon-asterisk glyphicon-asterisk-1"></span>
                <span class="glyphicon glyphicon-asterisk glyphicon-asterisk-2"></span>
                    </div>-->
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span> <span class="btn-title">Performances</span> 
    </button>
                </li>
                <li class="btn-menu-right" >
                    <button type="button" class="btn btn-default" aria-label="Research" ng-click='openContent("Research")'>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <span class="btn-title">Research Study</span> 
    </button>
                </li>
            </div>
            <!--<div>
            <button type="button" class="btn btn-default" aria-label="Performer">
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp Performance2
    </button>
        </div>-->

        </ul>
    </div>
</div>

<div class='menu-bkg'></div>