<div id='map' style=" width: 100%; ">
  <div class='bg-img-container'>
    <img class='map-img' src='Climb_APP_Map_background_noTitle.jpg' alt='Map' />
  </div>

  <div ng-show="prePerf && pastCounter==0" class="pre-perf-text">
    The current performance hasn't started yet. Click the left arrow of the top left screen to view past performances.
  </div>

  <div id="map">
    <d3-map></d3-map>
  </div>

<!-- 
  <div ng-show="performing" id="fragment">
    <p>
      <h1 id="narrative-title">{{title}}</h1>
    </p>
    <p ng-show="performing" id="narrative">{{narrative}}</p>
  </div>
-->
  <div class="map-title-container">
    <div style="display:inline-block">
      <!-- <span ng-show="pastCounter && !preview" class="pperf-indicator">P</span> -->
      <h1 class="map-title">{{mapTitle}}</h1>
    </div>
    <h4 style="margin-top:0px">{{performer}} in {{location}}</h4>
  </div>

  <div ng-show="!preview && pastCounter" style="margin-top:-40%">
    <div style="margin-bottom:20px; color:#FAFAFB">
      <h1>Journey</h1>
    </div>
    <div id="journey" ng-repeat="j in journey track by $index">
      <h3> {{j.stageName}} </h3>
      <div style="display:inline-block;margin-top:20px">
        <div class="narrative-content">{{j.narrative}} </div>
      </div>
    </div>
    <div style='height:100px;width:100%'></div>
  </div>

  <div class="float-button">
    <div class="middle"><a ng-click="goToMenu()" class="glyphicon glyphicon-home"></a></div>
  </div>
  <div class="black-bkg"></div>
  <h1>{{backBtnLink}}</h1>
  <div>
    <div ng-show="!preview && (showLeftArrow && existPmap)" class='map-left' ng-click="getLastPerf()"><span class='glyphicon glyphicon-menu-left'></span></div>
    <div ng-show="preview" class='map-left' ng-click="previewBack()"><span class='glyphicon glyphicon-menu-left'></span></div>
    <div ng-show='pastCounter && pastCounter!=100' class='map-right'><span class='glyphicon glyphicon-menu-right' ng-click="getNextPerf()"></span></div>
    <div ng-show='!pastCounter || preview' class='map-right'><span class='glyphicon glyphicon-picture' style="color: #1D8DEE" ng-click="previewBack()"></span></div>
  </div>


  
  <!-- <div class="alert alert-success" role="alert" style="opacity:0">
    <span>{{alertMsg}}</span>
  </div> -->