<nav class='navbar navbar-inverse bg-inverse'><span class="navbar-brand">Map Composition</span></nav>
<div style='width:100%;text-align:center'>
    <h1 id='preview-map-title'>Climb!</h1>
    <div id='map' style=" width: 100%; ">
        <div class='bg-img-container'>
            <img class='map-img' src='Climb_App_Map_background_noTitle.jpg' alt='Map' />
        </div>

        <div id="map">
            <d3-map></d3-map>
        </div>

        <div class="float-button">
            <div class="middle"><a ng-click="goToMenu()" class="glyphicon glyphicon-home"></a></div>
        </div>
        <div class="black-bkg"></div>
    </div>
    <div id="fragment">
        <h2 id="narrative-title" ng-if="!!title">{{title}}</h2>
        <p ng-if="!title" class="preview-prompt">Select a stage</p>
    </div>